.piece {
    background: gray;
    border: thin black;
    border-radius: 15px;
    margin: 3px;
    display: inline-block;
}

.piecedisabled {
    background: gray;
    border: thin black;
    border-radius: 15px;
    margin: 3px;
    display: inline-block;
    pointer-events:none;
}

.piece:hover {
    background: lightgray;
    border: thin black;
    border-radius: 15px;
    margin: 3px;
    display: inline-block;
}

.hitedPiece {
    background: green;
    border: thin black;
    border-radius: 15px;
    margin: 3px;
    display: inline-block;
}

.missedPiece {
    background: red;
    border: thin black;
    border-radius: 15px;
    margin: 3px;
    display: inline-block;
}

.bluePiece {
    background: blue;
    border: thin black;
    border-radius: 15px;
    margin: 3px;
    display: inline-block;
    pointer-events:none;
}

